/** =Colors **/
/** =General **/
body {
  height: 100%;
  font-size: 16px;
  background-color: #69d2e2;
  color: #294b66;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.lab-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -54%);
          transform: translate(-50%, -54%);
  width: 900px;
  height: 675px;
}

h1,
#BulbIdea {
  visibility: hidden;
  opacity: 0;
}

.strokeIt {
  stroke: rgb(248, 135, 110)
}
.fillIt {
  fill: rgb(248, 135, 110)
}
