<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Rules for Jira !</h4>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="Instructions">
        <template ngbTabContent>
          <a href="https://github.com/sameersbn/docker-gitlab">Link to docker</a>
        </template>
      </ngb-tab>
      <ngb-tab title="docker-compose">
        <template ngbTabContent>
          <pre class="prettyprint">
services:
  redis:
    restart: always
    image: sameersbn/redis:latest
    command:
        </pre>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<img (click)="open(content)" [ngClass]="(health==true)?'tools':'disabled tools'" width="70px" src="assets/formules/jira.svg">