<div>
  <app-cycle></app-cycle>
  <div id="breakingbad" fxLayout="row" fxLayoutAlign="center stretch" class="fxClass-all" class.xs="fxClass-xs" [class.sm]="{'fxClass-sm': hasStyle}"
    [class.md]="{'fxClass-md': hasStyle, 'fxClass-md2': hasStyle}" [class.lg]="['fxClass-lg', 'fxClass-lg2']">
    <div fxLayout="column">
      <div class="none"></div>
      <div class="ci">
        <app-tools name="codeship" tools="{{tools.CODESHIP}}"></app-tools>        
      </div>
      <div class="ci">
        <app-tools name="teamcity" tools="{{tools.TEAMCITY}}"></app-tools>
      </div>
      <div class="ci">
        <app-tools name="continuum" tools="{{tools.CONTINUUM}}"></app-tools>
      </div>
      <div class="ci">
        <app-tools name="cruisecontrol" tools="{{tools.CRUISECONTROL}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="ci">
        <app-tools name="jenkins" tools="{{tools.JENKINS}}"></app-tools>
      </div>
      <div class="ci">
        <app-tools name="travis" tools="{{tools.TRAVIS}}"></app-tools>
      </div>
      <div class="ci">
        <app-tools name="bamboo" tools="{{tools.BAMBOO}}"></app-tools>
      </div>
      <div class="scm">
        <app-tools name="mercurial" tools="{{tools.MERCURIAL}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="none"></div>
      <div class="scm">
        <app-tools name="git" tools="{{tools.GIT}}"></app-tools>
      </div>
      <div class="scm">
        <app-tools name="bitbucket" tools="{{tools.BITBUCKET}}"></app-tools>
      </div>
      <div class="scm">
        <app-tools name="svn" tools="{{tools.SVN}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="communication">
        <app-tools name="mattermost" tools="{{tools.MATTERMOST}}"></app-tools>
      </div>
      <div class="server">
        <app-tools name="nginx" tools="{{tools.NGINX}}"></app-tools>
      </div>
      <div class="server">
        <app-tools name="wildfire" tools="{{tools.WILDFIRE}}"></app-tools>
      </div>
      <div class="server">
        <app-tools name="apache" tools="{{tools.APACHE}}"></app-tools>
      </div>
      <div class="server">
        <app-tools name="tomcat" tools="{{tools.TOMCAT}}"></app-tools>
      </div>
      <div class="none"></div>
    </div>
    <div fxLayout="column">
      <div class="communication">
        <app-tools name="zulip" tools="{{tools.ZULIP}}"></app-tools>
      </div>
      <div><object class="tools" data="assets/formules/br.svg" width="70" type="image/svg+xml"></object></div>
      <div class="ops">
        <app-tools name="rundeck" tools="{{tools.RUNDECK}}"></app-tools>
      </div>
      <div class="ops">
        <app-tools name="gocd" tools="{{tools.GOCD}}"></app-tools>
      </div>
      <div class="server">
        <app-tools name="websphere" tools="{{tools.WEBSPHERE}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
    </div>
    <div fxLayout="column">
      <div class="communication">
        <app-tools name="irc" tools="{{tools.IRC}}"></app-tools>
      </div>
      <div class="communication">
        <app-tools name="matrix" tools="{{tools.MATRIX}}"></app-tools>
      </div>
      <div><object class="tools" data="assets/formules/ba.svg" width="70" type="image/svg+xml"></object></div>
      <div class="organization">
        <app-tools name="redmine" tools="{{tools.REDMINE}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="none"></div>
      <div class="organization">
        <app-tools name="wekan" tools="{{tools.WEKAN}}"></app-tools>
      </div>
      <div class="organization">
        <app-tools name="teamfondation" tools="{{tools.TEAMFOUNDATION}}"></app-tools>
      </div>
      <div class="organization">
        <app-tools name="trello" tools="{{tools.TRELLO}}"></app-tools>
      </div>
      <div class="organization">
        <app-tools name="jira" tools="{{tools.JIRA}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="quality">
        <app-tools name="sonar" tools="{{tools.SONAR}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="codacy" tools="{{tools.CODACY}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="teamscale" tools="{{tools.TEAMSCALE}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="squale" tools="{{tools.SQUALE}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="kalistick" tools="{{tools.KALISTICK}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="none"></div>
      <div class="repo">
        <app-tools name="nexus" tools="{{tools.NEXUS}}"></app-tools>
      </div>
      <div class="repo">
        <app-tools name="artifactory" tools="{{tools.ARTIFACTORY}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="metrixWare" tools="{{tools.MEXTRIXWARE}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="none"></div>
      <div class="none"></div>
      <div class="repo">
        <app-tools name="npm" tools="{{tools.NPM}}"></app-tools>
      </div>
      <div class="quality">
        <app-tools name="cast" tools="{{tools.CAST}}"></app-tools>
      </div>
    </div>
    <div fxLayout="column">
      <div class="none"></div>
      <div class="none"></div>
      <div class="repo">
        <app-tools name="dockerhub" tools="{{tools.DOCKERHUB}}"></app-tools>
      </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around none">
  <app-home></app-home>
</div>
</div>