#breakingbad{
    margin-top: 10vh; 
    position: relative;
}
.disabled{
    color: red;
    background-color: red;
}
.none{
    height: 100px;
    width: 100px;
    margin:5px;
}
.tools{
    display: table;
    margin: 0 auto;
    margin:5px;
}
.scm{
    background-color: pink;
}
.ci{
    background-color: red;
}
.repo{
    background-color: orange;
}
.ops{
    background-color: violet;
}
.server{
    background-color: blue;
}
.quality{
    background-color: aqua;
}
.organization{
    background-color: saddlebrown;
}
.communication{
    background-color: green;
}