.disabled{
    -webkit-animation-name: clignote;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count:infinite;
}
.tools{
    display: table;
    margin: 0 auto;
    margin:5px;
}
.none{
    height: 100px;
    width: 100px;
    margin:5px;
}

@-webkit-keyframes clignote {
0% {opacity:0;}
100% {opacity:100;}
}
.dark-modal .modal-content {
      background-color: #292b2c;
      color: white;
    }
.dark-modal .close {
    color: white;   
}
.language-yml{
    color: wheat;
}
ngb-alert{
    width: 100%;
}