<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Rules for Nginx !</h4>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="Instructions">
        <template ngbTabContent>
          Official docker image : <a href="https://hub.docker.com/_/nginx/">https://hub.docker.com/_/nginx/</a>
        </template>
      </ngb-tab>
      <ngb-tab title="docker-compose">
        <template ngbTabContent>
          <pre class="prettyprint">
version: "3"

services:
    nginx:
        image: nginx:1.11-alpine
        ports:
            - 8084:80
        volumes:
            - /tmp/frabiq/nginx/html:/usr/share/nginx/html 
        networks:
            - frabriqueDev  

networks:
  frabriqueDev:
    driver: bridge
        </pre>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<img (click)="open(content)" [ngClass]="(health==true)?'tools':'disabled tools'" width="70px" src="assets/formules/nginx.svg">