.dark-modal .modal-content {
      background-color: #292b2c;
      color: white;
    }
.dark-modal .close {
    color: white;   
}
.language-yml{
    color: wheat;
}
.language-shell{
    color: white !important;
}
#imgPresentation{
    height: 100% !important;
}